 
	body{ 	
			padding:0px;
			margin:0px;
			text-align:center;
			background:rgb(239,240,244); /* 背景色 */ 
		} 
	header {
			padding:20px;
			background:rgb(95,192,205); /* 背景色 */ 
		
			}
	footer
			{
				height:60px;
				position:fixed;
				bottom:0px;
				left:0px;
				width:100%;
		
			}
	input{	
			border:0;	
			width:85%;
			height:30px;
			outline:medium;
	}
	.userhome_text	{
					text-align:left;
					color:rgb(239,240,244);
					font-size:1.4em;
					float:center;
				}
	.break	{
				margin-top:4px;
				width:15px;
				float:left;
				}
	.footer_1{
		margin:4px;
		border:3px solid rgb(95,192,205);
		border-radius: 10px;
		color:rgb(95,192,205);
		width:44%;
		height:46px;
		line-height:46px;
		background:rgb(239,240,244); /* 背景色 */ 
		float:left;
			}

		
	.footer_2{	
		margin:4px;
		border:3px solid rgb(95,192,205);
		border-radius: 10px;
		color:rgb(239,240,244);
		width:44%;
		height:46px;
		line-height:46px;
		padding-bottom:;
		background:rgb(95,192,205); /* 背景色 */ 
		float:right;
		}